<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag("vvc_logo_temp.jpg", class: "img brand logo") %>
      </a>
      <%= link_to 'Vitality Veterinary Care', welcome_index_path, class: "navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'welcome' %>"><%= link_to 'Welcome', controller: 'welcome' %><span class="sr-only">(current)</span></li>
        <li class="<%= 'active' if params[:controller] == 'contact' %>"><%= link_to 'Contact', controller: 'contact' %></li>
        <li class="dropdown <%= 'active' if params[:controller] == 'about' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
          <ul class="dropdown-menu active">
            <li><%= link_to 'Mission', controller: 'about' %></li>
            <li><%= link_to 'Melissa Walker DVM', controller: 'about' %></li>
          </ul>
        </li>
        <li class="dropdown <%= 'active' if params[:controller] == 'services' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Acupuncture', services_path + "#acupuncture" %></li>
            <li><%= link_to 'Herbal Therapy', services_path + "#herbal-therapy"%></li>
            <li><%= link_to "LASER/LACER", services_path + "#laser" %></li>
            <li><%= link_to "Wellness", services_path + "#wellness" %></li>
            <li><%= link_to 'End of Life', services_path + "#end-of-life" %></li>
            <li><%= link_to 'Diet', services_path + "#diet" %></li>
            <li><%= link_to 'Nutriceuticals', services_path + "#nutriceuticals" %></li>
            <li><%= link_to 'Other', services_path + "#other" %></li>
            <li role="separator" class="divider"></li>
            <li class="<%= 'active' if params[:controller] == 'pharmacy' %>"><%= link_to 'Pharmacy', services_path + "#pharmacy" %></li>
            <!-- <li role="separator" class="divider"></li> -->
          </ul>
        </li>
        <li class="<%= 'active' if params[:controller] == 'testimonials' %>"><%= link_to 'Testimonials', controller: 'testimonials' %></li>
        <!-- <li class="<%= 'active' if params[:controller] == 'blog' %>"><%= link_to 'Blog', controller: 'blog' %></li> -->
      </ul>

     <!--  <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>